# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# trash
**/build
**/.vscode/
**/.VSCodeCounter/**
**/*.dot
**/*.svg
**/*.old
**/result/**

**/*.csv
**/*.dat
**/*.data

**/rocksdb_benchmark
rocksdb/
YCSB-cpp/
